body {
  background: url(https://cdn.pixabay.com/photo/2015/07/02/10/40/writing-828911_960_720.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
  background-color: #dfdcda;
}

.language {
  text-decoration: none;
}

.name-title {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: inline-block;
  vertical-align: top;
}

.circleBase {
  border-radius: 50%;
  border: 0.5px outset white;
  /* border: 1px; */
  padding: 2px;
  justify-content: center;
  cursor: pointer;
}

.type1 {
  width: 5px;
  height: 5px;
}
.type2 {
  width: 10px;
  height: 10px;
}
.type3 {
  width: 15px;
  height: 15px;
}
.draw {
  margin: auto 40px;
}

.floatRight {
  float: right;
  margin-bottom: 20px;
  /* text-transform: none; */
}
.letter-head {
  font-size: 5rem;
  cursor: pointer;
}
.letter-head-preview {
  font-size: 5rem;
}
.letter-head:hover {
  box-shadow: 5px 0px 0px 2px #cdc9c3;
}
.flasher {
  animation: flasher 1s linear infinite;
}

@keyframes flasher {
  50% {
    opacity: 0;
  }
}
/*
.bookborder-right {
  box-shadow: 5px 0px 0px 2px #cdc9c3, 10px 0px 0px 2px #fbf7f0,
    15px 0px 0px 2px #cdc9c3, 20px 0px 0px 2px #fbf7f0,
    -8px 0px 11px 8px #cdc9c3;
    
  -17px -20px 6px 3px rgba(40, 159, 237, 0);
  box-shadow: 11px 1px 11px -1px #000000;  
}
.bookborder-left {
  box-shadow: -5px 0px 0px 2px #cdc9c3, -10px 0px 0px 2px #fbf7f0,
    -15px 0px 0px 2px #cdc9c3, -20px 0px 0px 2px #fbf7f0,
    8px 0px 11px 8px #cdc9c3;
 }

@media (max-width: 600px) {
  .bookborder-left {
    box-shadow: none;
  }
  .bookborder-right {
    box-shadow: none;
     
    -17px -20px 6px 3px rgba(40, 159, 237, 0);
    box-shadow: 11px 1px 11px -1px #000000;  
  }
} */

.leftpage {
  margin-left: 25px;
}
